version: '3'

services:
  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml

  zipkin:
    image: openzipkin/zipkin

  dashboard:
    restart: always
    build:
      context: ./nginx
      dockerfile: Dockerfile
    volumes:
      - /app/node_modules
      - ./dashboard:/app

  movies:
    restart: always
    build:
      context: ./nginx
      dockerfile: Dockerfile
    volumes:
      - /app/node_modules
      - ./movies:/app

  nginx:
    restart: always
    depends_on:
      - prometheus
      - zipkin
      - api
    build:
      context: ./nginx
      dockerfile: Dockerfile
    ports:
      - "8080:80"